@model IEnumerable<UserModel>

@{
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
<table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Username)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Email)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.PhoneNumber)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.RoleName)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var (user, index) in Model.Select((u, i) => (u, i)))
            {
                <tr>
                    <th scope="row">@(index + 1)</th>
                    <td>@Html.DisplayFor(m => user.Username)</td>
                    <td>@Html.DisplayFor(m => user.FirstName)</td>
                    <td>@Html.DisplayFor(m => user.LastName)</td>
                    <td>@Html.DisplayFor(m => user.Email)</td>
                    <td>@user.PhoneNumber</td>
                    <td>@Html.DisplayFor(m => user.RoleName)</td>
                </tr>  
            }
            </tbody>
        </table>
</div>
